{% extends 'base1.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    <div style="margin-left:50px">
    {{ include('event/_form.html.twig') }}
        </div>
    <a href="{{ path('app_event_index') }}">back to list</a>
{% endblock %}
